*{
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
div{
    width: 50%;
}
p{
    margin-left: 3vw;
    margin-top: 3vw;
}
.a{
    font-size: 250%;
}
.b{
    font-size: 180%;
    margin-bottom: 1vw;
}
.c{
    margin-left: 5vw;
    margin-bottom: 2vw;
    font-size: 130%;
}
li{
    font-size: 130%;
    margin-left: 6vw;
    list-style-type: disc;
}
.soup1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_area img{
    width: 100%;
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 200%;
    margin-bottom: 4vw;
}
